# Supabase
VITE_SUPABASE_URL=https://wnhnumlsnekzlsfhqeii.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_QFK-6Fwwi4FyaSBW69UfNA_0Nqafbne

# Server
VITE_API_URL=http://localhost:4000
VITE_WS_URL=http://localhost:4000
